.blogs-wrapper_main {
  width: 80%;
  margin: 70px auto;
}

.blogs-wrapper_main .caption {
  color: var(--primary-text);
  font-family: var(--font-family-raleway);
}

.blogs-wrapper {
  margin: 20px 0;
}



.my-img {
  width: 240px;
  height: auto;
  /* border-radius: 50%; */
}

.title {
  color: var(--primary-text);
  margin: 0 0 20px;
  font-size: 35px;
  font-weight: bolder;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-family: var(--font-family-raleway);
  display: flex;
  align-items: center;
  gap: 5px;
}

.title::before {
  content: "|";
  display: block;
  color: var(--secondary-text);
}

.github-link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.github-link:hover {
  transform: scale(0.96);
}

@media screen and (min-width: 200px) and (max-width: 1015px) {
  .blogs-wrapper_main {
    width: 90%;
  }
}

@media screen and (min-width: 200px) and (max-width: 900px) {
  .title::after {
    width: 100px;
  }
}
